<div id="top_bar">
  <div id="spacer"></div>
  <div id="user_menu">
  <% if user_signed_in? %>
  <b><%= "#{current_user.firstname} #{current_user.name}" %></b>
  <% end %>
    <div id="user_menu_layer">
      <ul>
        <li><a>Mein Profil</a></li>
        <li><%= link_to "Ausloggen", destroy_user_session_path, :method => 'delete' %></li>
      </ul>
    </div>
  </div>
  <div id="logo"><a href="/"><%= image_tag("treebook_logo.png") %></a></div>
</div>
<% if user_signed_in? %>
<div id="main">
  <div id="navigation">
    <span class="its_me">
      <%= image_tag(current_user.image, {:width => 48, :class => "avatar"}) %> <b><%= current_user.firstname %></b>
      <br style="clear: left;" />
    </span>
    <ul>
      <li><a href="#" name="Startseite" onclick="show('Startseite')">Startseite</a></li>
      <li><a href="#" name="Nachrichten" onclick="show('Nachrichten')">Nachrichten</a></li>
      <br />
      <li><b>Meine Trees</b></li>
      <% my_trees = Tree.where :user_id => current_user.id %>
      <% my_trees.each do |t| %>
      <%=raw  "<li><a href=\"#\" name=\"tree_#{t.title}\" onclick=\"show('tree:#{t.id}')\">#{t.title}</a></li>" %>
      <% end %>
      <li><a href="#" name="addTree" onclick="addTree()">+ neuer Tree</a></li>
    </ul>
  </div>
  <div id="content">
    <div id="Startseite">
      <input type="text" name="status_update" value="Teile deine Gedanken!" />
    </div>
    <div id="Nachrichten">
       <h3>Nachrichten</h3>
    </div>
  </div>
</div>
<% end %>
