<div id="top_bar">
  <div id="spacer"></div>
  <div id="user_menu">
    <% if user_signed_in? %>
    <b><%= "#{current_user.firstname} #{current_user.name}" %></b>
    <div id="user_menu_layer">
      <ul>
        <li><a href="#u:<%= "#{current_user.id}" %>" onclick="showProfile(<%= "#{current_user.id}" %>)"><i class="icon-user"></i> Mein Profil</a></li>
        <li><a href="#Account" onclick="show('Account')"><i class="icon-cogs"></i> Account-Einstellungen</a></li>
        <li><%= link_to raw('<i class="icon-signout"></i> Ausloggen'), destroy_user_session_path, :method => 'delete' %></li>
      </ul>
    </div>
    <% end %>
  </div>
  <div id="top_notifications">
    <i class="icon-inbox"></i>
    <span>0</span>
  </div>
  <div id="notification_menu_layer">
    <ul>
      <li><a>Keine Benachrichtigungen vorhanden.</a></li>
    </ul>
  </div>
  <div id="logo"><a href="/"><%= image_tag("treebook_logo.png") %></a></div>
</div>
<% if user_signed_in? %>
<div id="main">
  <div id="sidebar">
    <div id="friendfinder">
      <h4>Finde neue Baumfreunde!</h4>
      <input type="text" name="friendsearch" value="Suche" />
      <div class="friendresult">
        
      </div>
    </div>
  </div>
  <div id="navigation">
    <span class="its_me" onclick="showProfile(<%= "#{current_user.id}" %>)">
      <%= image_tag(current_user.image, {:width => 48, :class => "avatar"}) %> <b><%= current_user.firstname %></b>
      <br style="clear: left;" />
    </span>
    <ul>
      <li><a href="#" name="Startseite" onclick="show('Startseite')"><i class="icon-home"></i> Stream</a></li>
      <li><a href="#u:<%= "#{current_user.id}" %>_2" name="Fotos" onclick="showProfile(<%= "#{current_user.id}" %>, 'Fotos')"><i class="icon-picture"></i> Fotos</a></li>
      <br />
      <li><b>Meine Trees</b></li>
      <% my_trees = current_user.owned_trees %>
      <% my_trees.each do |t| %>
      <%=raw  "<li><a href=\"#t:#{t.id}\" name=\"tree_#{t.id}_#{t.title}\" onclick=\"show('tree:#{t.id}')\">#{image_tag("tree_icon.png")} #{t.title}</a></li>" %>
      <% end %>
      <li><a href="#" name="addTree" onclick="addTree()"><i class="icon-plus"></i> neuer Tree</a></li>
      <li><a href="#Credits" name="Credits" onclick="show('Credits')" class="shy"><i class="icon-info-sign"></i> Credits</a></li>
      <li><a href="#License" name="License" onclick="show('License')" class="shy"><i class="icon-info-sign"></i> Lizenz</a></li>
    </ul>
  </div>
  <div id="content">
    <div id="Startseite">
      <div>
        <textarea name="status_update" cols="71">Teile deine Gedanken!</textarea>
      </div>
      <div>
        <div id="actions"></div>
        <h3>Stream</h3>
        <div id="Stream"></div>
      </div>
    </div>
    <div id="Profil">
    
    </div>
    <div id="Account">
      <h3>Account-Einstellungen</h3>
      <div>
        <label for="oldpass">altes Passwort</label>
        <input type="password" name="oldpass" required /><br />
        <label for="newpass">neues Passwort (min. 6 Zeichen)</label>
        <input type="password" name="newpass" required /><br />
        <label for="newpasscopy">neues Passwort wiederholen</label>
        <input type="password" name="newpasscopy" required /><br />
        <button name="setnewpass"><i class="icon-ok"></i> Abschicken</button>
      </div>
    </div>
    <div id="Credits">
      <h3>Credits</h3>
      <ul>
        <li><a href="http://fancybox.net" target="_blank">fancybox</a></li>
        <li><a href="http://fortawesome.github.com/Font-Awesome" target="_blank">Font Awesome</a></li>
        <li><a href="http://jquery.com" target="_blank">jQuery</a></li></li>
        <li><a href="http://jqueryui.com" target="_blank">jQuery-UI</a></li>
        <li><a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a></li>
      </ul>
    </div>
    <div id="License">
      <h2>The MIT-License</h2>
      <p>Copyright (C) 2012 Christian Brandt, Florian Thomas</p>

      <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>

      <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>

      <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
    </div>

  </div>
</div>
<% end %>
