<div id="top_bar">
  <div id="spacer"></div>
  <div id="user_menu">
    <% if user_signed_in? %>
    <b><%= "#{current_user.firstname} #{current_user.name}" %></b>
    <div id="user_menu_layer">
      <ul>
        <li><a href="#u:<%= "#{current_user.id}" %>" onclick="showProfile(<%= "#{current_user.id}" %>)"><i class="icon-user"></i> Mein Profil</a></li>
        <li><%= link_to raw('<i class="icon-signout"></i> Ausloggen'), destroy_user_session_path, :method => 'delete' %></li>
      </ul>
    </div>
    <% end %>
  </div>
  <div id="top_notifications">
    <i class="icon-inbox"></i>
    <span>0</span>
  </div>
  <div id="notification_menu_layer">
    <ul>
      <li><a>Keine Benachrichtigungen vorhanden.</a></li>
    </ul>
  </div>
  <div id="logo"><a href="/"><%= image_tag("treebook_logo.png") %></a></div>
</div>
<% if user_signed_in? %>
<div id="main">
  <div id="sidebar">
    <div id="friendfinder">
      <h4>Finde neue Baumfreunde!</h4>
      <input type="text" name="friendsearch" value="Suche" />
      <div class="friendresult">
        
      </div>
    </div>
  </div>
  <div id="navigation">
    <span class="its_me" onclick="showProfile(<%= "#{current_user.id}" %>)">
      <%= image_tag(current_user.image, {:width => 48, :class => "avatar"}) %> <b><%= current_user.firstname %></b>
      <br style="clear: left;" />
    </span>
    <ul>
      <li><a href="#" name="Startseite" onclick="show('Startseite')"><i class="icon-home"></i> Stream</a></li>
      <li><a href="#u:<%= "#{current_user.id}" %>_2" name="Fotos" onclick="showProfile(<%= "#{current_user.id}" %>, 'Fotos')"><i class="icon-picture"></i> Fotos</a></li>
      <br />
      <li><b>Meine Trees</b></li>
      <% my_trees = current_user.owned_trees %>
      <% my_trees.each do |t| %>
      <%=raw  "<li><a href=\"#t:#{t.id}\" name=\"tree_#{t.id}_#{t.title}\" onclick=\"show('tree:#{t.id}')\">#{image_tag("tree_icon.png")} #{t.title}</a></li>" %>
      <% end %>
      <li><a href="#" name="addTree" onclick="addTree()"><i class="icon-plus"></i> neuer Tree</a></li>
      <li><a href="#Credits" name="Credits" onclick="show('Credits')" class="shy"><i class="icon-info-sign"></i> Credits</a></li>
    </ul>
  </div>
  <div id="content">
    <div id="Startseite">
      <div>
        <textarea name="status_update" cols="71">Teile deine Gedanken!</textarea>
      </div>
      <div>
        <div id="actions"></div>
        <h3>Stream</h3>
        <div id="Stream"></div>
      </div>
    </div>
    <div id="Profil">
    
    </div>
    <div id="Credits">
      <h3>Credits</h3>
      <ul>
        <li><a href="http://jquery.com" target="_blank">jQuery</a></li></li>
        <li><a href="http://jqueryui.com" target="_blank">jQuery-UI</a></li>
        <li>Icon-Set: <a href="http://fortawesome.github.com/Font-Awesome" target="_blank">Font Awesome</a></li>
        <li><a href="http://fancybox.net" target="_blank">fancybox</a></li>
      </ul>
    </div>
  </div>
</div>
<% end %>
