<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @tree.user %>
</p>

<p>
  <b>Title:</b>
  <%= @tree.title %>
</p>


<%= link_to 'Edit', edit_tree_path(@tree) %> |
<%= link_to 'Back', trees_path %>
