<div id="top_bar">
  <div id="spacer"></div>
  <div id="show_credits">
    <b onclick="showCreditsDialog();">Credits</b>
  </div>
  <div id="show_license">
    <b onclick="showLicenseDialog();">Lizenz</b>
  </div>
  <div id="signup_layer">
    <b>Registrieren</b>
    <div>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        
        <div><%= f.label :email, "E-Mail" %>
        <%= f.email_field :email, "width" => "100%", "size" => 0 %></div>
        
        <div><%= f.label :password, "Passwort" %>
        <%= f.password_field :password, "width" => "100%", "size" => 0 %></div>
        
        <div><%= f.label :password_confirmation, "Passwort wiederholen" %>
        <%= f.password_field :password_confirmation, "width" => "100%", "size" => 0 %></div>
        
        <div><%= f.label :firstname, "Vorname" %>
        <%= f.text_field :firstname, "width" => "100%", "size" => 0 %></div>
        
        <div><%= f.label :name, "Nachname" %>
        <%= f.text_field :name, "width" => "100%", "size" => 0 %></div>
        
        <div><%= f.label :birthday, "Geburtstag" %>
        <%= f.date_select :birthday, :start_year => 1950, :order => [:day, :month, :year], :end_year => (Time.now.year - 10), :default => 25.years.ago, :use_month_numbers => true %></div>
        
        <div><%= f.submit "Registrieren" %></div>
      <% end %>
    </div>
  </div>
  
  <div id="login_layer">
    <b>Einloggen</b>
    <div>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div><%= f.label :email, "E-Mail" %>
        <%= f.email_field :email, "width" => "100%", "size" => 0 %></div>

        <div><%= f.label :password, "Passwort" %>
        <%= f.password_field :password, "width" => "100%", "size" => 0 %></div>

        <% if devise_mapping.rememberable? -%>
          <div><%= f.check_box :remember_me %> <%= f.label :remember_me, "Erinnere dich an mich!" %></div>
        <% end -%>

        <div><%= f.submit "Einloggen" %></div>
      <% end %>

      <%= render "links" %>
    </div>
  </div>
  
  <div id="logo"><a href="/"><%= image_tag("treebook_logo.png") %></a></div>
</div>
<div id="tree_logo">
  <%= image_tag("treebook_treelogo.png") %> 
</div>
<div id="credits_dialog">
  <ul>
    <li><a href="http://devise.plataformatec.com.br/" target="_blank">Devise</a></li>
    <li><a href="https://developers.facebook.com/docs/guides/web/" target="_blank">Facebook API für Webseiten</a></li>
    <li><a href="http://fancybox.net" target="_blank">fancybox</a></li>
    <li><a href="http://faye.jcoglan.com/" target="_blank">Faye</a></li>
    <li><a href="http://www.flickr.com/services/api/" target="_blank">flickr API</a></li>
    <li><a href="http://fortawesome.github.com/Font-Awesome" target="_blank">Font Awesome</a></li>
    <li><a href="https://github.com/ddollar/foreman" target="_blank">Foreman</a></li>
    <li><a href="https://github.com/gazay/gon" target="_blank">Gon</a></li>
    <li><a href="http://gravatar.com/" target="_blank">Gravatar</a></li>
    <li><a href="http://jquery.com" target="_blank">jQuery</a></li></li>
    <li><a href="http://jqueryui.com" target="_blank">jQuery-UI</a></li>
    <li><a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a></li>
  </ul>
</div>
<div id="license_dialog">
  <h2>The MIT-License</h2>
  <p>Copyright (C) 2012 Christian Brandt, Florian Thomas</p>

<p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>

<p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>

<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
</div>
